# os
.DS_Store

# python
.venv/
__pycache__/

# user api key
.env

# user workspace
workspace/

# user
poc/
aistudio/
trash/
config/nim_model_inventory.json
pipeline.py

# 이건 그냥 개인용임
memo.md
# 사용자 작업내용이 들어가서 일단 빼둠
works/
config/initial_state.yaml
# 이건 ai 명령 히스토리임
scratch.md 
